.App{
  display: grid;
  place-items: center;
  background-image: url("./assets/mainbackground3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: content;
  height: 100vh;
  
}

.App_body{
  display: flex;
  background-color: #FCB5AC;
  margin-top: 0px;
  height: 95vh;
  width: 90vw;
  box-shadow: -2px 4px 18px -5px rgb(95, 95, 95);
  border-radius: 50px;

}